@use 'colors';

.aboutUs {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        h3 {
            font-weight: 400;
        }

        &__image  {
            img {
                width: 100%;
                border-radius: 0.37rem;
            }
        }

        &__text {
            color: colors.$title1Color;

            p {
                margin: 16px 0;
            }

            h3 {
                margin-bottom: 16px;
            }

            .socialMidia {
                display: flex;

                &__item {
                    margin-right: 8px;

                    img {
                        width: 24px;
                    }
                }
            }
        }
    }
}