@use 'colors';

.amenities {
    &__tabs {
        margin-bottom: 16px;

        @media (max-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }
        &__button {
            margin-right: 5px;
    }

    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 8px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            overflow: hidden;
            border-radius: 2%;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                transition: all 1.1s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}