@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    list-style: none;

    a {
        text-decoration: none;
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1023px) {
        max-width: 90%;
    }
}