@use 'reset';
@use 'colors';
@use 'header';
@use 'aboutUs';

body {
    background-color: colors.$bgColor;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h2 {
    margin: 24px 0;
}

@mixin title($fontSize: 32px) {
    font-size: $fontSize;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 5px;
}

.text {
    @include text;
}

.text--small {
    @include text(8px);
}

.title--big {
    @include title(40px);
}

.title {
    @include title;
}

.title--small {
    @include title(20px);
}

.navLink {
    @include text;
    color: colors.$secondaryColor;
}

.button {
    @include text;
    background-color: colors.$secondaryColor;

    &:hover {
        background-color: darken(colors.$secondaryColor, 10%);
    }
}

.navButton {
    @include text;
    color: colors.$secondaryColor;
    border-bottom: solid 2px transparent;

    &:hover {
        border-color: colors.$secondaryColor;
    }

    &--is-active {
        border-color: colors.$secondaryColor;
    }
}